<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Client List</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button menu="first" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

    <h2 class="ion-text-left">Active Clients</h2>
    <ion-slides [options]="sliderConfig">
      <ion-slide  *ngFor="let client of activeList">
        <div class="ion-text-start" class="fab">
          <span class="name">{{ client.FirstName }} {{ client.LastName }}</span>
          <ion-fab class="ion-text-center" horizontal="center" vertical="bottom">
            <ion-fab-button color="secondary" (click)="clientDetail(client)">
              <ion-icon name="person-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      </ion-slide>
    </ion-slides>
    <h2 class="ion-text-left">Follow Up</h2>
    
      <ion-slides [options]="sliderConfig">
        <ion-slide  *ngFor="let client of followList">
          <div class="ion-text-start" class="fab">
            <span class="name">{{ client.FirstName }} {{ client.LastName }}</span>
            <ion-fab class="ion-text-center" horizontal="center" vertical="bottom">
              <ion-fab-button color="secondary" (click)="clientDetail(client)">
                <ion-icon name="person-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </div>
        </ion-slide>
      </ion-slides>

    <h2 class="ion-text-left">Paused</h2>
    <ion-slides [options]="sliderConfig">
      <ion-slide  *ngFor="let client of pausedList">
        <div class="ion-text-start" class="fab">
          <span class="name">{{ client.FirstName }} {{ client.LastName }}</span>
          <ion-fab class="ion-text-center" horizontal="center" vertical="center">
            <ion-fab-button color="secondary"(click)="clientDetail(client)">
              <ion-icon name="person-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      </ion-slide>
    </ion-slides>
    <h2 class="ion-text-left">Inactive</h2>
    <ion-slides [options]="sliderConfig">
      <ion-slide  *ngFor="let client of innactiveList">
        <div class="ion-text-start" class="fab">
          <span class="name">{{ client.FirstName }} {{ client.LastName }}</span>
          <ion-fab class="ion-text-center" horizontal="center" vertical="center">
            <ion-fab-button color="secondary" (click)="clientDetail(client)">
              <ion-icon name="person-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      </ion-slide>
    </ion-slides>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" routerLink="/add-client">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>