<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Add Client</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button menu="first" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="register-form">
  <ion-grid >
    <ion-row>
      <ion-col size="5" offset="1">
        <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input 
            type="text"
            name="firstName" 
            ngModel 
            required 
            #fromCtrl="ngModel">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!fromCtrl.valid && fromCtrl.touched" lines="none">
            <ion-label class="error-danger">First Name is required.</ion-label>
        </ion-item>
      </ion-col>  
      <ion-col size="5">
        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <ion-input 
            type="text"
            name="lastName" 
            ngModel 
            required 
            #toCtrl="ngModel">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!toCtrl.valid && toCtrl.touched" lines="none">
            <ion-label class="error-danger">Last Name required.</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-item>
          <ion-label position="floating">Address 1</ion-label>
          <ion-input 
            type="text"
            name="address1" 
            ngModel 
            required 
            #add1Ctrl="ngModel">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!add1Ctrl.valid && add1Ctrl.touched" lines="none">
            <ion-label class="error-danger">Address required.</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-item>
          <ion-label position="floating">Address 2</ion-label>
          <ion-input 
            type="text"
            name="address2" 
            ngModel 
            #add2Ctrl="ngModel">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="5" offset="1">
        <ion-item>
          <ion-label position="floating">City</ion-label>
          <ion-input 
            type="text"
            name="city" 
            ngModel 
            required 
            #cityCtrl="ngModel">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!cityCtrl.valid && cityCtrl.touched" lines="none">
            <ion-label class="error-danger">City required.</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="5" >
        <ion-item>
          <ion-label position="floating">State</ion-label>
          <ion-input 
            type="text"
            name="state" 
            ngModel 
            required 
            minlength=2
            #stateCtrl="ngModel">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!stateCtrl.valid && stateCtrl.touched" lines="none">
            <ion-label class="error-danger">State required.</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="5" offset="1">
        <ion-item>
          <ion-label position="floating">Zip Code</ion-label>
          <ion-input 
            type="number"
            name="zip" 
            ngModel 
            required 
            minlength=5
            maxlength=5
            #zipCtrl="ngModel">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!zipCtrl.valid && zipCtrl.touched" lines="none">
            <ion-label class="error-danger">Zip Code required.</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="5">
        <ion-item class="margin-top-5">
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input class="numberTXT"
            type="number" 
            name="tel"
            ngModel 
            required
            minlength=10
            maxlength=10
            #telCtrl="ngModel">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!telCtrl.valid && telCtrl.touched" lines="none">
            <ion-label class="error-danger">Phone Number required.</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input 
            type="text"
            name="email" 
            ngModel 
            required 
            #totalMilesCtrl="ngModel">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!totalMilesCtrl.valid && totalMilesCtrl.touched" lines="none">
            <ion-label class="error-danger">Email required.</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button 
          type="submit" 
          [disabled]="!f.valid" 
          expand="full" 
          color="secondary">
        Add New Client
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>  
</ion-content>
