.title {
   font-size: 128px;
}

.circle {
   width: 150px;
   height: 150px;
   color: #223B7A;
   text-align: center;
   background-color: #FFFFFF;
   border-radius: 75px;
   padding-top: 5px;
   box-sizing: border-box;
   margin: 10px;
 }

 .strong {
    font-weight: bold;
 }

 .name {
    font-size: 16px;
 }

 .detail {
    padding: 0px;
    margin: 0px;
 }